body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

header {
    background-color: aquamarine;
}

header .container {
    display: flex;
}

header .container h2 {
    font-size: 1rem;
    margin-top: auto;
}

.menu {
    float: right;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 35px;
}

.introduction {
    text-align: center;
}

.introduction .me {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.introduction p {
    white-space: break-spaces;
}